In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [4]:
df = pd.read_csv("Water_Quality_Testing.csv")

In [5]:
df

,pH,Temperature (°C),Turbidity (NTU),Dissolved Oxygen (mg/L),Conductivity (µS/cm),Hardness,Safe
0,7.25,23.1,4.5,7.8,342,204.890456,0
1,7.11,22.3,5.1,6.2,335,129.422921,0
2,7.03,21.5,3.9,8.3,356,224.236259,0
3,7.38,22.9,3.2,9.5,327,214.373394,0
4,7.45,20.7,3.8,8.1,352,181.101509,0
...,...,...,...,...,...,...,...
495,7.01,20.8,4.6,7.1,327,158.342741,1
496,7.31,22.5,3.8,9.4,361,181.258705,0
497,7.02,21.2,4.7,7.5,334,172.198136,1
498,7.25,23.0,3.9,8.7,359,178.326555,0
499,7.12,20.9,4.4,8.2,339,196.248857,0

In [27]:
y = df["Safe"]
X = df.drop(columns = 'Safe')
X

,pH,Temperature (°C),Turbidity (NTU),Dissolved Oxygen (mg/L),Conductivity (µS/cm),Hardness
0,7.25,23.1,4.5,7.8,342,204.890456
1,7.11,22.3,5.1,6.2,335,129.422921
2,7.03,21.5,3.9,8.3,356,224.236259
3,7.38,22.9,3.2,9.5,327,214.373394
4,7.45,20.7,3.8,8.1,352,181.101509
...,...,...,...,...,...,...
495,7.01,20.8,4.6,7.1,327,158.342741
496,7.31,22.5,3.8,9.4,361,181.258705
497,7.02,21.2,4.7,7.5,334,172.198136
498,7.25,23.0,3.9,8.7,359,178.326555
499,7.12,20.9,4.4,8.2,339,196.248857

In [99]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [101]:
scaler = StandardScaler()

In [134]:
X_train_scaled = scaler.transform(X_train);
X_train_scaled

array([[-0.00680176,  1.07455776, -1.46936279,  0.88205157,  0.75302693,
         1.21507981],
       [-0.84156305, -1.59515096, -1.7235778 , -0.82357301, -1.15670096,
         0.17373527],
       [ 0.271452  , -0.70524805,  0.31014232, -0.70174268, -0.62197715,
        -1.06055339],
       ...,
       [-1.02706556,  0.74084417,  1.32700238, -1.43272464, -0.69836627,
         0.98440687],
       [-1.21256807,  0.40713058, -0.45250273, -0.09259105, -1.92059212,
        -0.60176791],
       [ 0.64245702,  1.40827135,  1.07278736,  1.61303353,  1.1349725 ,
         0.91924605]])

In [135]:
X_test_scaled = scaler.transform(X_test);

In [136]:
log_reg = LogisticRegression(random_state = 0, C = 10).fit(X_train_scaled, y_train)

In [150]:
input = scaler.transform([[4.02, 20.7, 4.8, 7.5, 320, 227.23]])

In [152]:
log_reg.predict(input)

array([1], dtype=int64)

In [149]:
log_reg.score(X_test_scaled, y_test)

0.94